
body {
  background-color: #F1FFE7;
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  color: #1A1B41;
  text-align: center;
}
h3{
  font-family: 'Lobster', cursive;
  color: #1A1B41;
}

p {
  font-family: "Courier New";
  font-size: 30px;
}

#doge-image img {
  height: 140px;
  margin-top: 20px;
}
