<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>Who's Your Favourite Superhero?</h1>
  </div>
  <button type="button" id="SignInButton" onclick="toggleSignIn()">Sign In</button>

  <form>
    Name:<br>
    <input type = "text" name = "FirstName" id="FirstName"><br>
    Last Name:<br>
    <input type="text" name="LastName" id="LastName"><br>
    Age:<br>
    <input type= "text" name="Age" id="Age"><br>
    Favourite Superhero:<br>
    <input type= "text" name="SuperHero" id= "SuperHero"><br>
    <button type="button" onclick="handleMessageFormSubmit()">Submit</button>
  </form>

  <!-- <p id="demo">
    This is me testing out a lil html file
  </p> -->
<h3>Here's a list of other people's responses:</h3>
<div id="stream"></div>
  <!-- <button class="btn btn-default" type="button" onclick="myFunction()">
    Try it
  </button> -->

  <div id="doge-image"/>

</body>

</html>